---
import { getCollection, render } from "astro:content";

export async function getStaticPaths() {
  const posts = await getCollection("blog");

  return posts.map((post) => {
    const [lang, year, slug] = post.id.split("/");

    return {
      params: { lang, year, slug },
      props: { post },
    };
  });
}

const { post } = Astro.props;
const { Content } = await render(post);
---

<html lang={Astro.params.lang}>
  <head>
    <meta charset="utf-8" />
    <title>{post.data.title}</title>
  </head>
  <body>
    <main>
      <a href={`/${Astro.params.lang}/`}>← Inicio</a>

      <article>
        <h1>{post.data.title}</h1>
        <p>{post.data.date.toLocaleDateString()}</p>

        <Content />
      </article>
    </main>
  </body>
</html>
